[user]
	name = vincent-lafouasse
	email = vincent-lafouasse@users.noreply.github.com
[color]
	ui = true
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
